<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about.html">About Us</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.thichcay.vn/mua-hang/?v=4adb6aaa2c16/">Shop</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.thichcay.com/privacy-policy.html">Policy</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.thichcay.net/">Affiliate <i class="fa fa-coffee text-danger"></i></a>
</li>
